/* App.module.css */
.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {
  background-color: #53474F;
  padding: 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;          
  z-index: 1000;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 0;
  background-color: #FFDCE8;
  margin-top: 50px;
  flex: 1;
  overflow: hidden;
}


  